<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="MyBean" class="groupid.spring.通过xml获取bean.MyBean">
        <!-- 此 Bean 的协作者和配置请转到此处 -->
    </bean>
</beans>