<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bean1" class="com.zjyun.spring.model.Bean1">
        <property name="bean2" ref="bean2"/>
    </bean>
    <bean id="bean2" class="com.zjyun.spring.model.Bean2">
        <property name="beanName" value="bean2-name"/>
    </bean>
</beans>